<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="discution.css">
        <link rel="stylesheet" href="../css/discution.css">
        <title>Hello World</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="./js/tail.js"></script>
       <!--  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
       
    </head>
    <body onload="lireswipe();lireconversation();lireparametre();lirephoto();lireprofile()">
        
        <div class=" flex flex-col h-screen bg-gradient-to-b from-violet-500 to-fuchsia-500 justify-center">

            <!-- Home -->

            <div id="1" class="header flou">
            <span id="span" class="color">Géotchatte</span>
            <div id="search" class="boxSearch none" >
                <input type="text" name="search" placeholder="Recherche" >
                <div class="searchIcon">
                    <ion-icon name="search-outline"></ion-icon>
                </div>
            </div>
            </div>
            <div id="b1" class="test2 ">
                <div id="swipebox1" class="siwpeBox swipebox" >
                    <h1 id="nomswipe">Aurelie</h1>
                    <img id="photoswipe" style=" height: 100%;" src="../img/portrait.jpg" alt="" >
                    <span class="bubble dislike" onclick="dislike(1);console.log('fddf')">
                        <ion-icon name="thumbs-down-outline"></ion-icon>
                    </span>
                    <span class="bubble like" onclick="like(1)">
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                    </span>
                    
                </div>
            </div>

            <!-- Profile -->

            <div id="b2" class="test2 none">
                <div id="box" class="siwpeBox flex justify-center ">
                    <section class="boxImg">
                        <img id="photoprofile" src="../img/portrait.jpg" alt="">
                    </section>
                    <section class="boxInfo">
                        <div class="dashboard ">
                            <span class="color">
                                <ion-icon name="person-outline"></ion-icon>
                                <span>Nom</span>
                            </span>
                            <span class="color">
                                <ion-icon name="person-outline"></ion-icon>
                                <span>prenom</span> 
                            </span>
                            <span class="color">
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <span>Pseudo</span>
                            </span>
                            <span class="color">
                                <ion-icon name="male-female-outline"></ion-icon>
                                <span>Genre</span>
                            </span>
                            <span class="color">
                                <ion-icon name="mail-outline"></ion-icon> 
                                <span>Mail</span>
                            </span>
                        </div>

                        <div class="games">
                            <span class="color" id="nomprofile">ABASSI</span>
                            <span class="color" id="prenomprofile">Aurelie</span>
                            
                            <span class="color" id="pseudoprofile">Ti Curl</span>
                            <span class="color" id="sexprofile">Femme</span>
                            <span class="color" id="mailprofile">Ticurl97@gmail.com</span>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Messages -->

            <div id="b3" class="test2 none">
                <div class="innerBox" id="boxconvsteven">
                    
                </div>
            </div> 

            <!-- Photo -->

            <div id="b4" class="test2 none">
                <div id="box" class="siwpeBox flex justify-center ">
                   <section class="boxImg">
                        <img id="photophoto3"  src="../img/portrait.jpg" alt="">
                    </section> 
                    <main>
                        <section class="boxImg2" >
                             <img id="photophoto" src="../img/portrait.jpg" alt="" style="display: none;"> 
                             <div>
                            <button id="buttonLoard" class="bg-sky-500/75 rounded-full text-white p-2 m-2">Charger Photo</button>
                            <svg id="picture" class="stroke-cyan-500 h-10 m-2" viewBox="0 0 48 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13C1 10.2386 3.23858 8 6 8H13.4914C14.3844 8 
                                15.1691 7.40805 15.4144 6.54944L16.5856 2.45056C16.8309 
                                1.59196 17.6156 1 18.5086 1H29.4914C30.3844 1 31.1691 1.59195 
                                31.4144 2.45056L32.5856 6.54944C32.8309 7.40804 33.6156 8 34.5086 
                                8H42C44.7614 8 47 10.2386 47 13V34C47 36.7614 44.7614 39 42 39H6C3.23858 
                                39 1 36.7614 1 34V13Z"
                                 stroke-width="2"></path> <circle cx="24" cy="23" r="9" stroke-width="2"></circle>
                            </svg>
                        </div>
                        </section> 

                        <section class="boxImg3" style="display: none;">
                            <img id="photophoto2" src="../img/portrait.jpg" alt="">

                       
                        </section>
                        
                    </main>
                    

                    <!-- <section class="boxInfo">
                        <div class="dashboard ">
                            <span class="color">
                                <ion-icon name="person-outline"></ion-icon>
                                <span>Nom</span>
                            </span>
                            <span class="color">
                                <ion-icon name="person-outline"></ion-icon>
                                <span>prenom</span> 
                            </span>
                            <span class="color">
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <span>Pseudo</span>
                            </span>
                            <span class="color">
                                <ion-icon name="mail-outline"></ion-icon> 
                                <span>Mail</span>
                            </span>
                        </div>

                        <div class="games">
                            <span class="color" >Aurelie</span>
                            <span class="color">ABASSI</span>
                            <span class="color">Ti Curl</span>
                            <span class="color">Ticurl97@gmail.com</span>
                        </div>
                    </section> -->
                </div>
            </div>

           
            <!-- Parametres -->

            <div id="b5" class="test2 none">
                <div class="innerBox" id="boxconvsteven2">
                    
                        
                </div>
            </div> 

            <div id="b55" class="test2 none" style="display: none;">
                <div id="box" class="siwpeBox flex justify-center ">
                    <section class="boxImg" >
                        <img id="photoparametre"src="../img/portrait.jpg" alt="">
                    </section>
                    <section class="boxInfo" style="display: none;">
                        <div class="dashboard " style="display: none;">
                            <span class="color">
                                <ion-icon name="person-outline"></ion-icon>
                                <span>Nom</span>
                            </span>
                            <span class="color">
                                <ion-icon name="person-outline"></ion-icon>
                                <span>prenom</span> 
                            </span>
                            <span class="color">
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <span>Pseudo</span>
                            </span>
                            <span class="color">
                                <ion-icon name="mail-outline"></ion-icon> 
                                <span>Mail</span>
                            </span>
                        </div>

                        <div class="games" style="display: none;">
                            <span class="color" id="prenomparametre">Aurelie</span>
                            <span class="color" id="nomparametre">ABASSI</span>
                            <span class="color" id="pseudoparametre">Ti Curl</span>
                            <span class="color" id="mailparametre">Ticurl97@gmail.com</span>
                        </div>
                        
                    </section>
                    
                </div>
            </div>



           <div class="navigation">
                <ul>
                    <li class="list active">
                        <a href="#" onclick="display('b1')">
                            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="text">Acceuil</span>
                        </a>
                    </li>
                    <li class="list" onclick="display('b2');lireprofile()">
                        <a href="#">
                            <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                            <span class="text">Profile</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" onclick="display('b3');lireconversation()">
                            <span class="icon"><ion-icon name="chatbubbles-outline"></ion-icon></span>
                            <span class="text">Messages</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" onclick="display('b4');lirephoto()">
                            <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                            <span class="text">Photos</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" onclick="display('b5');lireparametre()">
                            <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                            <span class="text">Invitation</span>
                        </a>
                    </li>
                    <div class="indicator"></div>
                </ul>
            </div>
        </div>
       
       <script>
        const list = document.querySelectorAll('.list')
        function activeLink(){
            list.forEach((item)=>
            item.classList.remove('active'));
            this.classList.add('active')
        }
        list.forEach((item)=>
        item.addEventListener('click',activeLink))
       </script>
       
        <script src="cordova.js"></script>
        
        <script src="../js/home.js"></script>
    </body>
</html>
