<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <!-- <link rel="stylesheet" href="../css/signIn.css"> -->
        <link rel="stylesheet" href="../css/signUp.css">
        <title>Hello World</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="../js/tail.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
       
    </head>
    <body>
        <div class=" flex flex-col h-screen bg-gradient-to-b from-violet-500 to-fuchsia-500 justify-center">
            <div class="container">
                <div class="logoBox">
                    <div class="logo" >
                        <img class="img" src="../img/logo1.png" />
                    </div>
                </div>
                <div class="box">
                    <div class="content">
                        <h2> Connexion </h2>
                        <div class="form">
                            <div class="inputBox">
                                <input id="inputName" type="text" name="name" placeholder="Nom">
                            </div>
                            <div class="inputBox">
                                <input id="inputLastName" type="text" name="Lastname" placeholder="Prenom">
                            </div>
                            <div class="inputBox">
                                <input id="inputSexe" type="text" name="Sexe" placeholder="Pseudo">
                            </div>
                            <div class="inputBox">
                                <input id="inputMail" type="text" name="login" placeholder="Email">
                            </div>
                            <div class="inputBox">
                                <input id="inputPasswordForm" type="password" name="password" placeholder="Mot de passe">
                            </div>
                             <div class="inputBox">
                                <input id="inputConfirmPassword" type="password" name="password" placeholder="Confirmation mot de passe">
                            </div>
                            <div class="inputBox">
                                <input class="ajout" type="submit" value="Inscription" onclick="signUp()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../cordova.js"></script>
        <script src="../js/signUp.js"></script>
    </body>
</html>
