@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root
{
    /*--clr: rgb(75 22 76);#2c2b39; #222327; */
    --clr: rgb(75 22 76);
    --back: #334155;
    --fushia-500: #d946ef;
    --violet-500: #8b5cf6;
    --button: rgb(212 113 214);/* #66d0dd; */
    --transparent: rgb(93 45 94);
}

body
{
    display: flex;
    justify-content: center;
   /* align-items: flex-end; center; */
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    background-color: linear-gradient(to bottom,
    #f8fafc,
    var(--back)); /*var(--clr); */
}

.navigation
{
    position: relative;
    width: 100%;/* 400px; */
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
}

.navigation ul
{
    display: flex;
    width: 350px;
}

.navigation ul li
{
    position: relative;   
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a
{
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon
{
    position: relative;  
    display: block;
    line-height: 75px;
    font-size:  1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon
{
    transform: translateY(-32px);
    color: #fff;
}

.navigation ul li a .text
{
    position: absolute;  
    color: var(--violet-500);
    font-weight: 400;
    font-size:  0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px)
}

.indicator
{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--violet-500);
    border-radius: 50%;
    border: 6px solid var(--fushia-500);
    transition: 0.5s;
}

.indicator::before
{
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background:  transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--fushia-500);
}

.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--fushia-500);
}

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0))
}

.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1))
}

.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2))
}

.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3))
}

.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4))
}

.header
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items:  center; 
    min-height: 10vh;
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    background-color: var(--transparent); /* #66d0dd; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header .boxSearch 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 225px;
    border-radius: 25px;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.05),
    inset -2px -5px 1px rgba(255,255,255,0.05),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025);
}

.header .boxSearch input
{
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    width: 180px;
    font-size: 1em;
    padding: 10px 15px;
}

.header .boxSearch ion-icon
{
    width: 45px;
    height: 30px;
}


.test2
{
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: flex-end; center; */
    min-height: 80vh;
   /*  background-color: var(--clr); */
}

.innerBox
{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    width: 100%;
    margin-bottom: 20px;
}

.Row
{
    display: flex;
    align-items: center;
    color: #fff;
    
}

.Row img
{
    width: 50px;
    position: relative;
    margin-top: 10px;
}
.imagconv
{
    width: 50px;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;

}

.innerBox hr
{
    margin-left: 50px;
    margin-top: 10px;
}

.Row .BoxRow
{
    display: flex;
    justify-content: space-between;
    width: 100vh;
}

.Row .BoxRow span
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.Row h1
{
    color: #fff;
}

.headerMessages 
{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items:  center; 
    min-height: 10vh;
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    background-color: #66d0dd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headerMessages img
{
    z-index: 1;
    padding-left: 20px;
    width: 75px;
    height: 50px;
    border-radius: 50%;
}

.headerMessages span
{
    padding-left: 10px;
}

.test2 .messageBox
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-bottom: 20px; */
    background-color: #fff;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 100vh;
    overflow: auto;
}

.inputMessages 
{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    align-items: center;
    background-color: rgb(236, 234, 234);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 55px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-top: 10px;
}

.inputMessages input
{
    width: 300px;    
}

.inputMessages button
{
    padding-left: 5px;
    align-items: center; 
    justify-content: center;  
}

.boxM
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90vw;
    height: 33px;
    border-radius: 25px;
    padding-top: 5;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.05),
    inset -2px -5px 1px rgba(255,255,255,0.05),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025);
}

.boxM input
{
    border: none;
    outline: none;
    /* color: #fff; */
    background: transparent;
    /* width: 300px; */
    width: 100vw;
    font-size: 1em;
    padding: 10px 15px;
}
    
.boxM ion-icon
{
    width: 45px;
    height: 30px;
    padding-top: 5px;
    
}


.test2 .paramBox
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    height: 100vh;
    overflow: auto;
}

.test2 .siwpeBox
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
    border-radius: 10px;
    height: 100vh;
    overflow: hidden;
    transition: all 1.5s ease;
}

.flou{
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
}

.test2 .siwpeBox h1
{
    font-size: 2em;
    color: white;
    position: absolute;
    margin-left: 10px;
}


.test2 .siwpeBox .bubble
{
    height: 50px;
    width: 50px;
    bottom: 5%;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test2 .siwpeBox .dislike
{ 
    left: 10%;
    color: red;
}

.test2 .siwpeBox .like
{
    right: 10%;
    color: green;
}


.none {
    display: none;
}

.test2 .siwpeBox .boxImg
{
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
}

.test2 .siwpeBox .boxImg2
{
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 200px;
}

.test2 .siwpeBox .boxImg3
{
    height: 150px;
    width: 150px;
    /* position: absolute; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 200px;
}

.test2 .siwpeBox .boxInfo
{
    color:rgb(236, 234, 234);
    position: absolute;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 200px;
    gap: 20px;
    font-size: 20px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.fade-out {
    opacity: 0;
    max-height: 0;
  }

.color
{
    background: -webkit-linear-gradient(var(--fushia-500), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dashboard {
    padding: 2rem 0.6rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    /* align-items: center;
    justify-content: space-evenly;
    text-align: center; */
    color: black;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: .5rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }

  .games {
    flex: 2;
    height: -webkit-fill-available;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;

  }
/*
.test2 .messageBox .messageLeft
{
    margin: 10px;
    background-color: var(--button);
    border-radius: 10px;
    border-bottom-left-radius: 0%;
    min-height: 10px;
    padding-left: 5px;
}

 .test2 .messageBox .messageLeft::after
{
    content: '';
    left: 1px;
    border-left:10px solid transparent;
    border-right:10px solid #139ee0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    position: absolute;
    background-color: var(--button);
} */


/* div {
    display: none
}

.activ{
    display: block;
} */


@keyframes swipeAnimation {
    0%{
        transform: rotate(0deg);
        transform: translateX(0px) 
    }
    50%{
        transform: rotate(-20deg)  translateX(250px);
        /* transform: translateX(250px)  */
    }
    100%{
        transform: rotate(-20deg) translateX(500px);
       /*  transform: translateX(500px)  */
    }
}

@keyframes swipeAnimationDislike {
    0%{
        transform: rotate(0deg);
        transform: translateX(0px) 
    }
    50%{
        transform: rotate(20deg)  translateX(-250px);
        /* transform: translateX(250px)  */
    }
    100%{
        transform: rotate(20deg) translateX(-500px);
       /*  transform: translateX(500px)  */
    }
}
